.match-card {
  list-style: none;
  border-radius: 14px;
  width: 290px;
  color: black;
  text-align: center;
}
.competing-team-logo {
  width: 60%;
  height: 140px;
}
.competing-team {
  font-size: 21px;
  font-weight: 700;
  font-family: 'Termina Test', sans-serif;
  margin: 15px 0px;
}
.match-result {
  margin: 15px 0px;
  font-weight: 700;
}
.match-won,
.match-lost {
  font-weight: 700;
  font-size: 18px;
}
.match-won {
  color: #17b169;
}
.match-lost {
  color: #e32636;
}
